@import "node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Now', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
}