// colors 
$primary-color: #C43C1E;
$bg-color: #FFF9F3;
$bg-color-gray: #F1F1F1;
$main-text-color: #3F403E;

// fonts 
$primary-font: 'Sifonn', sans-serif;
$secondary-font: 'Now', sans-serif;
$text-font: 'Poppins', sans-serif;